### Build output ###
target/
bin/
out/
*.class

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/

### Eclipse ###
.classpath
.factorypath
.project
.settings

### Web ###
web/node_modules/
web/dist/

### Output ###
*.svg
!web/public/vite.svg
!web/src/javascript.svg

### OS ###
.DS_Store
Thumbs.db